node_modules/
docs/
test/
*.sketch
.DS_Store
.tern-project
ngrok
vault
config/env.json
localtunnel.sh
**/tagging/pos/model.json
**/tagging/pos/corpus/*
**/tagging/ner/model.json
**/tagging/ner/corpus/*
