<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Přihlášení</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style media="screen">

  html, body {
    font-family: Palatino;
    letter-spacing: .02em;
    padding: 0;
    margin: 0;
  }

  header {
    background-color: #006FAD;
  }

  header .info {
    text-align: center;
    font-size: 150%;
    font-weight: bold;
    padding: 15px;
    color: white;
  }

  div.container {
    max-width: 400px;
    margin: auto;
    padding: 0 15px;
  }

  #auth-failed {
    color: red;
  }

  p.info {
    color: grey;
    margin: 20px 0;
    text-align: center;
  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 14px;
  }

  .form-group input {
    width: 100%;
    border-radius: 0;
    padding: 5px 8px;
    font-size: 16px;
    outline: none;
    box-shadow: none;
    border: 1px solid #ccc;
    transition: border 500ms ease-out;
  }

  .form-group input:focus {
    border-color: #006FAD;
  }

  .form-group button.btn {
    width: 100%;
    border-radius: 0;
    background-color: #20b956;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 500ms ease-out;
  }

  .form-group button.btn:hover,
  .form-group button.btn:active {
    background-color: #1da74e;
  }

  </style>
</head>
<body>

  <header>
    <div class="info">Přihlášení do STAG</div>
  </header>

  <div class="container">

    <p class="info">Použijte své přihlašovací údaje do <a href="http://portal.upol.cz/">Portálu</a></p>

    <form action="/authorize" method="post" id="stag-auth">

      <div class="form-group">
        <label for="login">Uživatelské jméno (Portál ID)</label>
        <input type="text" class="form-control" id="login" name="login">
      </div>

      <div class="form-group">
        <label for="password">Heslo</label>
        <input type="password" class="form-control" id="password" name="password">
      </div>

      <%if (authFailed) { %>
        <p id="auth-failed">Uživatelské jméno nebo heslo není správné 😱</p>
        <% } %>

        <input type="hidden" id="redirectURI" name="redirectURI" value="<%= redirectURI %>">

        <input type="hidden" id="redirectURISuccess" name="redirectURISuccess" value="<%= redirectURISuccess %>">

        <input type="hidden" id="accountLinkingToken" name="accountLinkingToken" value="<%= accountLinkingToken %>">

        <div class="form-group">
          <button type="submit" class="btn btn-default">Přihlásit</button>
        </div>
      </form>

    </div>

  </body>
  </html>
