<html>
<head>
  <title>OAuth Test</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>

  div {
    margin: 10px 0 10px 0;
  }

  #auth-failed {
    color: red;
  }

  p#info {
    color: grey;
  }

  .form-group input {
    border-radius: 0;
  }

  button.btn {
    width: 100%;
    border-radius: 0;
  }
  
  </style>
</head>
<body>

  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">

        <h1>Přihlášení do STAG</h1>

        <p id="info">Použijte své přihlašovací údaje do <a href="http://portal.upol.cz/">Portálu</a></p>

        <form action="/authorize" method="post" id="stag-auth">

          <%if (authFailed) { %>
            <p id="auth-failed">Chybně zadané heslo nebo uživatelské jméno</p>
          <% } %>

          <div class="form-group">
            <label for="login">Uživatelské jméno</label>
            <input type="text" class="form-control" id="login" name="login">
          </div>

          <div class="form-group">
            <label for="password">Heslo</label>
            <input type="password" class="form-control" id="password" name="password">
          </div>

          <input type="hidden" id="redirectURISuccess" name="redirectURI" value="<%= redirectURI %>">

          <input type="hidden" id="redirectURISuccess" name="redirectURISuccess" value="<%= redirectURISuccess %>">

          <input type="hidden" id="accountLinkingToken" name="accountLinkingToken" value="<%= accountLinkingToken %>">

          <div class="form-group">
            <button type="submit" class="btn btn-default">Přihlásit</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</body>
</html>
