<!-- Help manual (with commands and examples) -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Co umím?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style media="screen">
      body {
        font-family: Palatino;
        letter-spacing: .02em;
      }

      main {
        text-align: center;
      }

      h1 {
        font-size: 150%;
      }

      h2 {
        font-size: 120%;
        color: #aaa;
      }

      .command {
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 5px;
        box-sizing: border-box;
        line-height: 140%;
        padding: 5px 8px;
        margin-bottom: 15px;
        color: #333;
      }

      .command::after,
      .command::before {
        font-family: Arial;
        font-weight: bold;
        color: #9f9f9f;
      }

      .command::before {
        content: "“";
        margin-right: 3px;
      }

      .command::after {
        content: "”";
        margin-left: 3px;
      }

      .command .entity {
        color: #4353d5;
        font-weight: bold;
      }

    </style>

  </head>
  <body>

    <main>

      <h1>Nápověda</h1>

      <div class="command">Pomoc</div><!--
      --><div class="command">Jaké jsou dostupné příkazy?</div>

      <h1>Kvalifikační práce</h1>
      <div class="command">Ukaž mi mou závěrečnou práci</div><!--
      --><div class="command">Jaké téma diplomové práce píše <span class="entity">Petr Němeček</span>?</div>

      <h1>Zkoušky</h1>
      <div class="command">Chci se zapsat na zkoušku</div><!--
      --><div class="command">Ukaž zkoušky, které mám zapsané</div>

      <h1>Rozvrh hodin</h1>

      <span class="info">U všech příkazů týkajících se rozvrhu lze uvést datum a/nebo i jméno jiného studenta (uvádějte prosím v prvním pádu).</span>

      <div class="command">Jaký rozvrh hodin mám <span class="entity">1.2.</span>?</div><!--
      --><div class"command">Jaký rozvrh má <span class="entity">14.2.</span> <span class="entity">Petr Němeček</span>?</div><!--
      --><div class="command">Je tento týden sudý nebo lichý?</div><!--
      --><div class="command">Kdy mi začíná semestr?</div><!--
      --><div class="command">Kdy <span class="entity">Petr Němeček</span> začíná semestr?</div><!--
      --><div class="command">Kdy končí semestr?</div><!--
      --><div class="command">Kdy <span class="entity">zítra</span> začíná vyučování?</div><!--
      --><div class="command">Kdy končí <span class="entity">Petr Němeček</span> vyučování <span class="entity">14.2.</span>?</div><!--
      --><div class="command">Kdy mi končí vyučování <span class="entity">14.2.</span>?</div>

      <h1>Studijní povinnosti</h1>

      <h2>Kredity</h2>

      <div class="command">Kolik kreditů zbývá získat v mém studiu?</div><!--
      --><div class="command">Kolik získám v tomto semestru kreditů?</div>

      <h2>Zkoušky</h2>

      <div class="command">Kolik zkoušek mě čeká tento semestr?</div><!--
      --><div class="command">Kolik zbývá udělat zkoušek v <span class="entity">letním semestru</span>?</div>


    </main>

  </body>
</html>
